In [1]:
import pandas as pd

In [2]:
file = 'Resources/first_round_csvs/AllFirstRoundDrafts.csv'
all_players = pd.read_csv(file)
all_players

,Year,Rnd,DT,OvPck,FrRnd,RdPck,Tm,Signed,Bonus,Name,...,BA,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of
0,2011,1,NaN,1,FrRnd,1,Pirates,Y,"$8,000,000",Gerrit Cole(minors),...,0.163,0.393,250.0,124.0,65.0,3.19,1.11,0.0,4Yr,"University of California, Los Angeles (Los Ang..."
1,2011,1,NaN,2,FrRnd,2,Mariners,Y,"$6,350,000",Danny Hultzen(minors),...,NaN,NaN,6.0,0.0,0.0,0.00,1.80,0.0,4Yr,"University of Virginia (Charlottesville, VA)"
2,2011,1,NaN,3,FrRnd,3,Diamondbacks,Y,"$3,400,000",Trevor Bauer(minors),...,0.069,0.185,222.0,83.0,69.0,3.79,1.24,1.0,4Yr,"University of California, Los Angeles (Los Ang..."
3,2011,1,NaN,4,FrRnd,4,Orioles,Y,"$4,000,000",Dylan Bundy(minors),...,0.143,0.286,175.0,50.0,61.0,4.70,1.30,0.0,HS,"Owasso HS (Owasso, OK)"
4,2011,1,NaN,5,FrRnd,5,Royals,Y,"$7,500,000",Bubba Starling(minors),...,0.204,0.544,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Gardner-Edgerton HS (Gardner, KS)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,2005,1s,NaN,44,FrRnd,44,Marlins,Y,"$775,000",*Sean West(minors),...,0.059,0.147,22.0,8.0,8.0,5.03,1.58,0.0,HS,"Captain Shreve HS (Shreveport, LA)"
742,2005,1s,NaN,45,FrRnd,45,Red Sox,Y,"$762,000",*Jed Lowrie(minors),...,0.257,0.737,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"Stanford University (Palo Alto, CA)"
743,2005,1s,NaN,46,FrRnd,46,Cardinals,Y,"$675,000",*Tyler Herron(minors),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Wellington Community HS (Wellington, FL)"
744,2005,1s,NaN,47,FrRnd,47,Red Sox,Y,"$730,000",*Michael Bowden(minors),...,0.000,0.000,103.0,3.0,5.0,4.51,1.40,0.0,HS,"Waubonsie Valley HS (Aurora, IL)"
745,2005,1s,NaN,48,FrRnd,48,Orioles,Y,"$650,000",*Garrett Olson(minors),...,0.167,0.310,104.0,14.0,22.0,6.26,1.67,1.0,4Yr,"California Polytechnic State University, San L..."

In [3]:
all_players.columns

Index(['Year', 'Rnd', 'DT', 'OvPck', 'FrRnd', 'RdPck', 'Tm', 'Signed', 'Bonus',
       'Name', 'Pos', 'WAR', 'G', 'AB', 'HR', 'BA', 'OPS', 'G.1', 'W', 'L',
       'ERA', 'WHIP', 'SV', 'Type', 'Drafted Out of'],
      dtype='object')

In [4]:
print(all_players['Pos'])

0      RHP
1      LHP
2      RHP
3      RHP
4       OF
      ...
741    LHP
742     2B
743    RHP
744    RHP
745    LHP
Name: Pos, Length: 746, dtype: object

In [5]:
all_players.groupby(["Pos"]).count()['Year']

Pos
1B      26
2B      17
3B      54
C       48
CF      21
LF       2
LHP    113
OF     100
RF       5
RHP    271
SS      87
lHP      2
Name: Year, dtype: int64

In [6]:
new_col_order = ['Name','Year', 'OvPck', 'RdPck', 'Rnd','Tm', 'Pos', 'DT', 'FrRnd','Signed', 'Bonus',
                 'WAR', 'G', 'AB', 'HR', 'BA', 'OPS', 'G.1', 'W', 'L',
       'ERA', 'WHIP', 'SV', 'Type', 'Drafted Out of']

In [7]:
all_players = all_players[new_col_order]
all_players

,Name,Year,OvPck,RdPck,Rnd,Tm,Pos,DT,FrRnd,Signed,...,BA,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of
0,Gerrit Cole(minors),2011,1,1,1,Pirates,RHP,NaN,FrRnd,Y,...,0.163,0.393,250.0,124.0,65.0,3.19,1.11,0.0,4Yr,"University of California, Los Angeles (Los Ang..."
1,Danny Hultzen(minors),2011,2,2,1,Mariners,LHP,NaN,FrRnd,Y,...,NaN,NaN,6.0,0.0,0.0,0.00,1.80,0.0,4Yr,"University of Virginia (Charlottesville, VA)"
2,Trevor Bauer(minors),2011,3,3,1,Diamondbacks,RHP,NaN,FrRnd,Y,...,0.069,0.185,222.0,83.0,69.0,3.79,1.24,1.0,4Yr,"University of California, Los Angeles (Los Ang..."
3,Dylan Bundy(minors),2011,4,4,1,Orioles,RHP,NaN,FrRnd,Y,...,0.143,0.286,175.0,50.0,61.0,4.70,1.30,0.0,HS,"Owasso HS (Owasso, OK)"
4,Bubba Starling(minors),2011,5,5,1,Royals,OF,NaN,FrRnd,Y,...,0.204,0.544,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Gardner-Edgerton HS (Gardner, KS)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,*Sean West(minors),2005,44,44,1s,Marlins,LHP,NaN,FrRnd,Y,...,0.059,0.147,22.0,8.0,8.0,5.03,1.58,0.0,HS,"Captain Shreve HS (Shreveport, LA)"
742,*Jed Lowrie(minors),2005,45,45,1s,Red Sox,2B,NaN,FrRnd,Y,...,0.257,0.737,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"Stanford University (Palo Alto, CA)"
743,*Tyler Herron(minors),2005,46,46,1s,Cardinals,RHP,NaN,FrRnd,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Wellington Community HS (Wellington, FL)"
744,*Michael Bowden(minors),2005,47,47,1s,Red Sox,RHP,NaN,FrRnd,Y,...,0.000,0.000,103.0,3.0,5.0,4.51,1.40,0.0,HS,"Waubonsie Valley HS (Aurora, IL)"
745,*Garrett Olson(minors),2005,48,48,1s,Orioles,LHP,NaN,FrRnd,Y,...,0.167,0.310,104.0,14.0,22.0,6.26,1.67,1.0,4Yr,"California Polytechnic State University, San L..."

In [8]:
pitchers = all_players.loc[(all_players['Pos'] == 'LHP') | (all_players['Pos'] == 'RHP')]
pitchers

,Name,Year,OvPck,RdPck,Rnd,Tm,Pos,DT,FrRnd,Signed,...,BA,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of
0,Gerrit Cole(minors),2011,1,1,1,Pirates,RHP,NaN,FrRnd,Y,...,0.163,0.393,250.0,124.0,65.0,3.19,1.11,0.0,4Yr,"University of California, Los Angeles (Los Ang..."
1,Danny Hultzen(minors),2011,2,2,1,Mariners,LHP,NaN,FrRnd,Y,...,NaN,NaN,6.0,0.0,0.0,0.00,1.80,0.0,4Yr,"University of Virginia (Charlottesville, VA)"
2,Trevor Bauer(minors),2011,3,3,1,Diamondbacks,RHP,NaN,FrRnd,Y,...,0.069,0.185,222.0,83.0,69.0,3.79,1.24,1.0,4Yr,"University of California, Los Angeles (Los Ang..."
3,Dylan Bundy(minors),2011,4,4,1,Orioles,RHP,NaN,FrRnd,Y,...,0.143,0.286,175.0,50.0,61.0,4.70,1.30,0.0,HS,"Owasso HS (Owasso, OK)"
6,*Archie Bradley(minors),2011,7,7,1s,Diamondbacks,RHP,NaN,FrRnd,Y,...,0.095,0.189,329.0,30.0,29.0,3.92,1.36,32.0,HS,"Broken Arrow HS (Broken Arrow, OK)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,*Mark McCormick(minors),2005,43,43,1s,Cardinals,RHP,NaN,FrRnd,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"Baylor University (Waco, TX)"
741,*Sean West(minors),2005,44,44,1s,Marlins,LHP,NaN,FrRnd,Y,...,0.059,0.147,22.0,8.0,8.0,5.03,1.58,0.0,HS,"Captain Shreve HS (Shreveport, LA)"
743,*Tyler Herron(minors),2005,46,46,1s,Cardinals,RHP,NaN,FrRnd,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Wellington Community HS (Wellington, FL)"
744,*Michael Bowden(minors),2005,47,47,1s,Red Sox,RHP,NaN,FrRnd,Y,...,0.000,0.000,103.0,3.0,5.0,4.51,1.40,0.0,HS,"Waubonsie Valley HS (Aurora, IL)"
745,*Garrett Olson(minors),2005,48,48,1s,Orioles,LHP,NaN,FrRnd,Y,...,0.167,0.310,104.0,14.0,22.0,6.26,1.67,1.0,4Yr,"California Polytechnic State University, San L..."

In [9]:
batters = all_players.loc[(all_players['Pos'] != 'LHP') & (all_players['Pos'] != 'RHP')]
batters

,Name,Year,OvPck,RdPck,Rnd,Tm,Pos,DT,FrRnd,Signed,...,BA,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of
4,Bubba Starling(minors),2011,5,5,1,Royals,OF,NaN,FrRnd,Y,...,0.204,0.544,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Gardner-Edgerton HS (Gardner, KS)"
5,Anthony Rendon(minors),2011,6,6,1,Nationals,3B,NaN,FrRnd,Y,...,0.285,0.848,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"Rice University (Houston, TX)"
7,Francisco Lindor(minors),2011,8,8,1,Indians,SS,NaN,FrRnd,Y,...,0.275,0.814,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Montverde Academy (Montverde, FL)"
8,Javier Baez(minors),2011,9,9,1,Cubs,SS,NaN,FrRnd,Y,...,0.260,0.769,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Arlington Country Day School (Jacksonville, FL)"
9,*Cory Spangenberg(minors),2011,10,10,1s,Padres,2B,NaN,FrRnd,Y,...,0.256,0.704,2.0,0.0,0.0,13.5,3.5,0.0,JC,"Indian River State College (Fort Pierce, FL)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,*Johnny Drennen(minors),2005,33,33,1s,Indians,OF,NaN,FrRnd,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Rancho Bernardo HS (San Diego, CA)"
733,*Travis Buck(minors),2005,36,36,1s,Athletics,OF,NaN,FrRnd,Y,...,0.243,0.715,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"Arizona State University (Tempe, AZ)"
735,*Eli Iorg(minors),2005,38,38,1s,Astros,OF,NaN,FrRnd,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"University of Tennessee (Knoxville, TN)"
736,*Hank Sanchez(minors),2005,39,39,1s,Twins,1B,NaN,FrRnd,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Mission Bay HS (San Diego, CA)"
742,*Jed Lowrie(minors),2005,45,45,1s,Red Sox,2B,NaN,FrRnd,Y,...,0.257,0.737,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"Stanford University (Palo Alto, CA)"

In [10]:
batters = batters.drop(['G.1', 'W', 'L',
       'ERA', 'WHIP', 'SV', 'DT'], 1)

/var/folders/fd/dxtp3qz55fg174hn110s1j2h0000gn/T/ipykernel_65346/3702477988.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  batters = batters.drop(['G.1', 'W', 'L',

In [11]:
batters = batters.fillna(0)
batters

,Name,Year,OvPck,RdPck,Rnd,Tm,Pos,FrRnd,Signed,Bonus,WAR,G,AB,HR,BA,OPS,Type,Drafted Out of
4,Bubba Starling(minors),2011,5,5,1,Royals,OF,FrRnd,Y,"$7,500,000",-1.8,91.0,245.0,5.0,0.204,0.544,HS,"Gardner-Edgerton HS (Gardner, KS)"
5,Anthony Rendon(minors),2011,6,6,1,Nationals,3B,FrRnd,Y,"$6,000,000",33.1,1071.0,3992.0,156.0,0.285,0.848,4Yr,"Rice University (Houston, TX)"
7,Francisco Lindor(minors),2011,8,8,1,Indians,SS,FrRnd,Y,"$2,900,000",33.2,983.0,3904.0,171.0,0.275,0.814,HS,"Montverde Academy (Montverde, FL)"
8,Javier Baez(minors),2011,9,9,1,Cubs,SS,FrRnd,Y,"$2,625,000",23.7,930.0,3301.0,156.0,0.260,0.769,HS,"Arlington Country Day School (Jacksonville, FL)"
9,*Cory Spangenberg(minors),2011,10,10,1s,Padres,2B,FrRnd,Y,"$1,863,000",4.7,419.0,1250.0,29.0,0.256,0.704,JC,"Indian River State College (Fort Pierce, FL)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,*Johnny Drennen(minors),2005,33,33,1s,Indians,OF,FrRnd,Y,"$1,000,000",0.0,0.0,0.0,0.0,0.000,0.000,HS,"Rancho Bernardo HS (San Diego, CA)"
733,*Travis Buck(minors),2005,36,36,1s,Athletics,OF,FrRnd,Y,"$950,000",2.8,253.0,810.0,20.0,0.243,0.715,4Yr,"Arizona State University (Tempe, AZ)"
735,*Eli Iorg(minors),2005,38,38,1s,Astros,OF,FrRnd,Y,"$900,000",0.0,0.0,0.0,0.0,0.000,0.000,4Yr,"University of Tennessee (Knoxville, TN)"
736,*Hank Sanchez(minors),2005,39,39,1s,Twins,1B,FrRnd,Y,"$900,000",0.0,0.0,0.0,0.0,0.000,0.000,HS,"Mission Bay HS (San Diego, CA)"
742,*Jed Lowrie(minors),2005,45,45,1s,Red Sox,2B,FrRnd,Y,"$762,000",16.0,1303.0,4599.0,121.0,0.257,0.737,4Yr,"Stanford University (Palo Alto, CA)"

In [12]:
batters.to_csv('Resources/first_round_csvs/FirstRoundBatters.csv', index=False)

In [13]:
pitchers = pitchers.drop(['G', 'AB', 'HR', 'BA', 'OPS', 'DT'], 1)
pitchers = pitchers.fillna(0)
pitchers

/var/folders/fd/dxtp3qz55fg174hn110s1j2h0000gn/T/ipykernel_65346/2065997919.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  pitchers = pitchers.drop(['G', 'AB', 'HR', 'BA', 'OPS', 'DT'], 1)

,Name,Year,OvPck,RdPck,Rnd,Tm,Pos,FrRnd,Signed,Bonus,WAR,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of
0,Gerrit Cole(minors),2011,1,1,1,Pirates,RHP,FrRnd,Y,"$8,000,000",33.3,250.0,124.0,65.0,3.19,1.11,0.0,4Yr,"University of California, Los Angeles (Los Ang..."
1,Danny Hultzen(minors),2011,2,2,1,Mariners,LHP,FrRnd,Y,"$6,350,000",0.2,6.0,0.0,0.0,0.00,1.80,0.0,4Yr,"University of Virginia (Charlottesville, VA)"
2,Trevor Bauer(minors),2011,3,3,1,Diamondbacks,RHP,FrRnd,Y,"$3,400,000",21.0,222.0,83.0,69.0,3.79,1.24,1.0,4Yr,"University of California, Los Angeles (Los Ang..."
3,Dylan Bundy(minors),2011,4,4,1,Orioles,RHP,FrRnd,Y,"$4,000,000",7.8,175.0,50.0,61.0,4.70,1.30,0.0,HS,"Owasso HS (Owasso, OK)"
6,*Archie Bradley(minors),2011,7,7,1s,Diamondbacks,RHP,FrRnd,Y,"$5,000,000",5.8,329.0,30.0,29.0,3.92,1.36,32.0,HS,"Broken Arrow HS (Broken Arrow, OK)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,*Mark McCormick(minors),2005,43,43,1s,Cardinals,RHP,FrRnd,Y,"$800,000",0.0,0.0,0.0,0.0,0.00,0.00,0.0,4Yr,"Baylor University (Waco, TX)"
741,*Sean West(minors),2005,44,44,1s,Marlins,LHP,FrRnd,Y,"$775,000",-0.1,22.0,8.0,8.0,5.03,1.58,0.0,HS,"Captain Shreve HS (Shreveport, LA)"
743,*Tyler Herron(minors),2005,46,46,1s,Cardinals,RHP,FrRnd,Y,"$675,000",0.0,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Wellington Community HS (Wellington, FL)"
744,*Michael Bowden(minors),2005,47,47,1s,Red Sox,RHP,FrRnd,Y,"$730,000",0.8,103.0,3.0,5.0,4.51,1.40,0.0,HS,"Waubonsie Valley HS (Aurora, IL)"
745,*Garrett Olson(minors),2005,48,48,1s,Orioles,LHP,FrRnd,Y,"$650,000",-2.7,104.0,14.0,22.0,6.26,1.67,1.0,4Yr,"California Polytechnic State University, San L..."

In [14]:
pitchers.to_csv('Resources/first_round_csvs/FirstRoundPitchers.csv', index=False)

In [4]:
all_players = all_players.sort_values(by=['Year']).reset_index()
all_players

,index,Year,Rnd,DT,OvPck,FrRnd,RdPck,Tm,Signed,Bonus,...,BA,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of
0,446,2000,1,NaN,16,FrRnd,16,Mets via Mariners,Y,"$400,000",...,0.048,0.139,96.0,12.0,14.0,5.65,1.59,0.0,4Yr,"Loyola Marymount University (Los Angeles, CA)"
1,457,2000,1,NaN,27,FrRnd,27,Astros,Y,"$1,250,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JC,"El Camino College (Torrance, CA)"
2,456,2000,1,NaN,26,FrRnd,26,Indians,Y,"$1,375,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Piscataway HS (Piscataway, NJ)"
3,455,2000,1,NaN,25,FrRnd,25,Rangers via Mets,Y,"$1,475,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Rancho Bernardo HS (San Diego, CA)"
4,454,2000,1,NaN,24,FrRnd,24,Cardinals via Rangers,Y,"$1,375,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"Texas State University (San Marcos, TX)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,289,2015,1,NaN,40,FrRnd,40,Brewers,Y,"$1,250,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"University of Virginia (Charlottesville, VA)"
742,290,2015,1,NaN,41,FrRnd,41,Braves,Y,"$1,600,000",...,0.270,0.834,NaN,NaN,NaN,NaN,NaN,NaN,HS,"DeSoto Central HS (Southaven, MS)"
743,291,2015,1,NaN,42,FrRnd,42,Indians,Y,"$2,302,500",...,0.500,1.000,48.0,12.0,16.0,4.26,1.07,0.0,HS,"Royal Palm Beach HS (Royal Palm Beach, FL)"
744,285,2015,1,NaN,36,FrRnd,36,Orioles,Y,"$1,300,000",...,0.272,0.812,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Paul J. Hagerty HS (Oviedo, FL)"
745,261,2015,1,NaN,12,FrRnd,12,Marlins,Y,"$2,200,000",...,0.257,0.732,NaN,NaN,NaN,NaN,NaN,NaN,HS,"St. Joan of Arc Catholic SS (Mississauga, ON)"

In [5]:
all_players.to_csv('Resources/first_round_csvs/AllFirstRoundDrafts.csv', index=False)