In [1]:
import pandas as pd
import glob
import os

In [2]:
path = 'Resources/first_round_csvs'
all_files = glob.glob(os.path.join(path + "/*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename,encoding_errors='ignore', index_col=None, header=0)
    li.append(df)

first_round_df = pd.concat(li, axis=0, ignore_index=True)

In [3]:
first_round_df = first_round_df.sort_values(by=['Year', 'RdPck'])
first_round_df

,Year,Rnd,DT,OvPck,FrRnd,RdPck,Tm,Signed,Bonus,Name,...,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of,Team Made Playoffs
431,2000,1,NaN,1,FrRnd,1,Marlins,Y,"$3,000,000",Adrian Gonzalez(minors),...,0.843,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Eastlake HS (Chula Vista, CA)",0
432,2000,1,NaN,2,FrRnd,2,Twins,Y,"$2,500,000",Adam Johnson(minors),...,0.000,9.0,1.0,3.0,10.25,2.05,0.0,4Yr,"California State University, Fullerton (Fuller...",0
433,2000,1,NaN,3,FrRnd,3,Cubs,Y,"$2,750,000",Luis Montanez(minors),...,0.586,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Coral Park HS (Miami, FL)",0
434,2000,1,NaN,4,FrRnd,4,Royals,Y,"$2,500,000",Mike Stodolka(minors),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Centennial HS (Corona, CA)",0
435,2000,1,NaN,5,FrRnd,5,Expos,Y,"$2,950,000",Justin Wayne(minors),...,0.000,26.0,5.0,8.0,6.13,1.65,0.0,4Yr,"Stanford University (Palo Alto, CA)",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,2015,1,NaN,38,FrRnd,38,Rockies,Y,"$2,000,000",Tyler Nevin(minors),...,0.615,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Poway HS (Poway, CA)",0
273,2015,1,NaN,39,FrRnd,39,Cardinals,Y,"$1,800,000",Jake Woodford(minors),...,0.222,49.0,5.0,4.0,4.12,1.30,0.0,HS,"H. B. Plant HS (Tampa, FL)",1
274,2015,1,NaN,40,FrRnd,40,Brewers,Y,"$1,250,000",Nathan Kirby(minors),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"University of Virginia (Charlottesville, VA)",0
275,2015,1,NaN,41,FrRnd,41,Braves,Y,"$1,600,000",Austin Riley(minors),...,0.834,NaN,NaN,NaN,NaN,NaN,NaN,HS,"DeSoto Central HS (Southaven, MS)",0
276,2015,1,NaN,42,FrRnd,42,Indians,Y,"$2,302,500",Triston McKenzie(minors),...,1.000,48.0,12.0,16.0,4.26,1.07,0.0,HS,"Royal Palm Beach HS (Royal Palm Beach, FL)",0

In [4]:
first_round_df.to_csv('Resources/AllFirstRoundDrafts copy.csv', index=False)