In [8]:
import pandas as pd
import numpy as np
import glob
import os
import re

In [9]:
def clean_df():
    path = f'{file_dir}/Resources/first_round_csvs'
    all_files = glob.glob(os.path.join(path + "/*.csv"))

    li = []

    for filename in all_files:
        df = pd.read_csv(filename,encoding_errors='ignore', index_col=None, header=0)
        li.append(df)

    first_round_df = pd.concat(li, axis=0, ignore_index=True)
    first_round_df = first_round_df.sort_values(by=['Year', 'RdPck']).reset_index()
    first_round_df = first_round_df.drop(['index', 'DT', 'FrRnd', 'OvPck'], axis=1)
    
    first_round_df['Tm'] = first_round_df['Tm'].str.replace(r'via(.*$)', '', regex=True)
    first_round_df['Name'] = first_round_df['Name'].str.replace(r'\((.+?)\)', '', regex=True) 
    first_round_df['Type'] = first_round_df['Type'].fillna('None')
    first_round_df['Type'] = first_round_df['Type'].fillna('None')
    
    first_round_df['WAR'] = first_round_df['WAR'].fillna(0)
    first_round_df['G'] = first_round_df['G'].fillna(0)
    first_round_df['AB'] = first_round_df['AB'].fillna(0)
    first_round_df['HR'] = first_round_df['HR'].fillna(0)
    first_round_df['BA'] = first_round_df['BA'].fillna(0)
    first_round_df['OPS'] = first_round_df['OPS'].fillna(0)
    first_round_df['G.1'] = first_round_df['G.1'].fillna(0)
    first_round_df['W'] = first_round_df['W'].fillna(0)
    first_round_df['L'] = first_round_df['L'].fillna(0)
    first_round_df['ERA'] = first_round_df['ERA'].fillna(0)
    first_round_df['WHIP'] = first_round_df['WHIP'].fillna(0)
    first_round_df['SV'] = first_round_df['SV'].fillna(0)
    
    def parse_dollars(s):
        # if s is not a string, return NaN
        if type(s) != str:
            return 0
        elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):
            s = re.sub('\$|,','', s)
            value = float(s)
            return value
        else:
            return 0
    
    def parse_rnd(s):
        if type(s) != str:
            return int(s)
        elif re.match('1s', s):
            s = re.sub('s', '', s)
            value = int(s)
            return value
        else:
            return int(s)    
    
    first_round_df['Bonus'] = first_round_df['Bonus'].apply(parse_dollars)
    first_round_df['Rnd'] = first_round_df['Rnd'].apply(parse_rnd)
    
    return first_round_df

In [10]:
file_dir = '/Users/daniellesilvaggio/Desktop/UCSD/Final_Project_Baseball_draft_prediction'
player_file = f'{file_dir}/Resources/first_round_csvs'

In [11]:
player_file = clean_df()
first_round_df = player_file
first_round_df.head()

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G,...,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of,Team Made Playoffs
0,2000,1,1,Marlins,Y,3000000.0,Adrian Gonzalez,1B,43.5,1929.0,...,0.843,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Eastlake HS (Chula Vista, CA)",0
1,2000,1,2,Twins,Y,2500000.0,Adam Johnson,RHP,-1.1,1.0,...,0.000,9.0,1.0,3.0,10.25,2.05,0.0,4Yr,"California State University, Fullerton (Fuller...",0
2,2000,1,3,Cubs,Y,2750000.0,Luis Montanez,SS,-1.3,129.0,...,0.586,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Coral Park HS (Miami, FL)",0
3,2000,1,4,Royals,Y,2500000.0,Mike Stodolka,LHP,0.0,0.0,...,0.000,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Centennial HS (Corona, CA)",0
4,2000,1,5,Expos,Y,2950000.0,Justin Wayne,RHP,-1.5,26.0,...,0.000,26.0,5.0,8.0,6.13,1.65,0.0,4Yr,"Stanford University (Palo Alto, CA)",0

In [5]:
first_round_df.dtypes

Year                    int64
Rnd                     int64
OvPck                   int64
Tm                     object
Signed                 object
Bonus                 float64
Name                   object
Pos                    object
WAR                   float64
G                     float64
AB                    float64
HR                    float64
BA                    float64
OPS                   float64
G.1                   float64
W                     float64
L                     float64
ERA                   float64
WHIP                  float64
SV                    float64
Type                   object
Drafted Out of         object
Team Made Playoffs      int64
dtype: object

In [6]:
random_forest_df = first_round_df.drop(['Name','Drafted Out of'], 1)
random_forest_df

/Users/daniellesilvaggio/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,Year,Rnd,OvPck,Tm,Signed,Bonus,Pos,WAR,G,AB,...,BA,OPS,G.1,W,L,ERA,WHIP,SV,Type,Team Made Playoffs
0,2000,1,1,Marlins,Y,3000000.0,1B,43.5,1929.0,7139.0,...,0.287,0.843,0.0,0.0,0.0,0.00,0.00,0.0,HS,0
1,2000,1,2,Twins,Y,2500000.0,RHP,-1.1,1.0,2.0,...,0.000,0.000,9.0,1.0,3.0,10.25,2.05,0.0,4Yr,0
2,2000,1,3,Cubs,Y,2750000.0,SS,-1.3,129.0,305.0,...,0.223,0.586,0.0,0.0,0.0,0.00,0.00,0.0,HS,0
3,2000,1,4,Royals,Y,2500000.0,LHP,0.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.00,0.00,0.0,HS,0
4,2000,1,5,Expos,Y,2950000.0,RHP,-1.5,26.0,12.0,...,0.000,0.000,26.0,5.0,8.0,6.13,1.65,0.0,4Yr,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,2015,1,38,Rockies,Y,2000000.0,3B,0.0,48.0,138.0,...,0.196,0.615,0.0,0.0,0.0,0.00,0.00,0.0,HS,0
742,2015,1,39,Cardinals,Y,1800000.0,RHP,0.2,25.0,18.0,...,0.111,0.222,49.0,5.0,4.0,4.12,1.30,0.0,HS,1
743,2015,1,40,Brewers,Y,1250000.0,LHP,0.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.00,0.00,0.0,4Yr,0
744,2015,1,41,Braves,Y,1600000.0,3B,7.8,370.0,1360.0,...,0.270,0.834,0.0,0.0,0.0,0.00,0.00,0.0,HS,0
745,2015,1,42,Indians,Y,2302500.0,RHP,2.8,1.0,2.0,...,0.500,1.000,48.0,12.0,16.0,4.26,1.07,0.0,HS,0

In [7]:
random_forest_df.count()

Year                  746
Rnd                   746
OvPck                 746
Tm                    746
Signed                746
Bonus                 746
Pos                   746
WAR                   746
G                     746
AB                    746
HR                    746
BA                    746
OPS                   746
G.1                   746
W                     746
L                     746
ERA                   746
WHIP                  746
SV                    746
Type                  746
Team Made Playoffs    746
dtype: int64

In [8]:
# Generate our categorical variable lists
random_cat = random_forest_df.dtypes[random_forest_df.dtypes == "object"].index.tolist()

In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(random_forest_df[random_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(random_cat)
encode_df.head()

/Users/daniellesilvaggio/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Tm_Angels,Tm_Angels,Tm_Astros,Tm_Astros,Tm_Athletics,Tm_Athletics,Tm_Blue Jays,Tm_Blue Jays,Tm_Braves,Tm_Braves,...,Pos_LHP,Pos_OF,Pos_RF,Pos_RHP,Pos_SS,Pos_lHP,Type_4Yr,Type_HS,Type_JC,Type_None
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
random_forest_df = random_forest_df.merge(encode_df,left_index=True, right_index=True)
random_forest_df = random_forest_df.drop(random_cat,1)
random_forest_df.head()

/Users/daniellesilvaggio/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Rnd,OvPck,Bonus,WAR,G,AB,HR,BA,OPS,...,Pos_LHP,Pos_OF,Pos_RF,Pos_RHP,Pos_SS,Pos_lHP,Type_4Yr,Type_HS,Type_JC,Type_None
0,2000,1,1,3000000.0,43.5,1929.0,7139.0,317.0,0.287,0.843,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2000,1,2,2500000.0,-1.1,1.0,2.0,0.0,0.000,0.000,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2000,1,3,2750000.0,-1.3,129.0,305.0,5.0,0.223,0.586,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,2000,1,4,2500000.0,0.0,0.0,0.0,0.0,0.000,0.000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2000,1,5,2950000.0,-1.5,26.0,12.0,0.0,0.000,0.000,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [12]:
# Define the features set.
X = random_forest_df.copy()
X = X.drop("Team Made Playoffs", axis=1)
X.head()

,Year,Rnd,OvPck,Bonus,WAR,G,AB,HR,BA,OPS,...,Pos_LHP,Pos_OF,Pos_RF,Pos_RHP,Pos_SS,Pos_lHP,Type_4Yr,Type_HS,Type_JC,Type_None
0,2000,1,1,3000000.0,43.5,1929.0,7139.0,317.0,0.287,0.843,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2000,1,2,2500000.0,-1.1,1.0,2.0,0.0,0.000,0.000,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2000,1,3,2750000.0,-1.3,129.0,305.0,5.0,0.223,0.586,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,2000,1,4,2500000.0,0.0,0.0,0.0,0.0,0.000,0.000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2000,1,5,2950000.0,-1.5,26.0,12.0,0.0,0.000,0.000,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
y = random_forest_df["Team Made Playoffs"].ravel()
y[:5]

array([0, 0, 0, 0, 0])

In [15]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [17]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [18]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          121            9
Actual 1           46           11

In [19]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [20]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          121            9
Actual 1           46           11

Accuracy Score : 0.7058823529411765
Classification Report
              precision    recall  f1-score   support

           0       0.72      0.93      0.81       130
           1       0.55      0.19      0.29        57

    accuracy                           0.71       187
   macro avg       0.64      0.56      0.55       187
weighted avg       0.67      0.71      0.65       187

In [21]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.08794512580035292, 'OvPck'),
 (0.08259872983741678, 'Bonus'),
 (0.07089421683598796, 'Year'),
 (0.044767586020247566, 'G'),
 (0.044101343116438416, 'AB'),
 (0.04259474508085273, 'WAR'),
 (0.03938721005032716, 'OPS'),
 (0.03856852336284272, 'BA'),
 (0.03129890181925036, 'HR'),
 (0.031074108734873998, 'Tm_Yankees'),
 (0.029103841554775904, 'G.1'),
 (0.027843679258833746, 'ERA'),
 (0.027623031021854292, 'WHIP'),
 (0.024832430974144407, 'Tm_Cardinals'),
 (0.022562075417403193, 'W'),
 (0.020655690491332732, 'L'),
 (0.01660288584690712, 'Tm_Rays'),
 (0.014104352126729893, 'SV'),
 (0.012559122440393505, 'Type_HS'),
 (0.012234818824539329, 'Type_4Yr'),
 (0.011959147142480272, 'Tm_Braves'),
 (0.01171819840229156, 'Pos_OF'),
 (0.010727326812009668, 'Pos_RHP'),
 (0.010586728215806206, 'Tm_Athletics '),
 (0.010390899069806121, 'Tm_Dodgers'),
 (0.010061074413388642, 'Tm_Athletics'),
 (0.009728321283180075, 'Pos_SS'),
 (0.009535785693054272, 'Tm_Padres'),
 (0.008887053455107055, 'Pos_LHP'),
 (0.008786694715463351, 'Tm_Blue Jays'),
 (0.008461407374454716, 'Tm_Twins'),
 (0.008398817063969213, 'Pos_3B'),
 (0.0077150985180084, 'Tm_Angels'),
 (0.00743934996924044, 'Tm_Red Sox'),
 (0.007151627115665801, 'Tm_Royals'),
 (0.0070549529551637204, 'Tm_Rangers'),
 (0.006425918886906841, 'Tm_Pirates'),
 (0.006382757580795762, 'Tm_Diamondbacks'),
 (0.005739177797883404, 'Tm_White Sox'),
 (0.005680456448035017, 'Tm_Brewers'),
 (0.005614664400524903, 'Tm_Cubs'),
 (0.005595864726790634, 'Tm_Astros'),
 (0.005444967081931048, 'Tm_Reds'),
 (0.0053321129080726995, 'Pos_C'),
 (0.00526525345499451, 'Tm_Rockies'),
 (0.005225141009892519, 'Tm_Indians'),
 (0.005075007062457046, 'Tm_Phillies'),
 (0.0049656385497121635, 'Tm_Tigers'),
 (0.0048776296013550696, 'Pos_1B'),
 (0.0044575968261375085, 'Pos_2B'),
 (0.003997948627373027, 'Tm_Marlins'),
 (0.0034694951977779645, 'Pos_RF'),
 (0.003343436560834495, 'Tm_Giants'),
 (0.003184084839718575, 'Tm_Cardinals '),
 (0.0030437088117767114, 'Pos_CF'),
 (0.0028782806576570833, 'Tm_Braves '),
 (0.002781763844584158, 'Signed_Y'),
 (0.0026255432686093567, 'Tm_Nationals'),
 (0.002551303969965413, 'Signed_N'),
 (0.0023997323777657006, 'Type_JC'),
 (0.002389242306986322, 'Tm_Orioles'),
 (0.002246824287278286, 'Tm_Mets'),
 (0.0022288239626432824, 'Tm_Red Sox '),
 (0.0021700913065567243, 'Tm_Rockies '),
 (0.0021552944047377783, 'Tm_Dodgers '),
 (0.0017599419115787737, 'Tm_Rays '),
 (0.0013816370259494377, 'Tm_Mariners'),
 (0.0012805122460960601, 'Tm_Indians '),
 (0.0012786328330690335, 'Tm_Mets '),
 (0.0011612751697443575, 'Tm_Twins '),
 (0.0008176710549305927, 'Tm_Yankees '),
 (0.0007927976498919193, 'Tm_Rangers '),
 (0.00077868840038964, 'Tm_Giants '),
 (0.0005848539241816051, 'Tm_Devil Rays'),
 (0.0004897141981910261, 'Tm_Expos'),
 (0.00048451533119844425, 'Tm_Diamondbacks '),
 (0.00046601958754324824, 'Tm_Marlins '),
 (0.00027714065564162676, 'Tm_Angels '),
 (0.0002626009348493231, 'Tm_Royals '),
 (0.00022146213824711462, 'Type_None'),
 (0.00012933783511417165, 'Tm_Orioles '),
 (0.0001249592692926583, 'Pos_lHP'),
 (7.788007166546557e-05, 'Tm_Mariners '),
 (7.046431883496598e-05, 'Tm_Blue Jays '),
 (3.097775670874765e-05, 'Tm_Nationals '),
 (1.974711333055284e-05, 'Tm_Phillies '),
 (6.5089992030359045e-06, 'Pos_LF'),
 (0.0, 'Tm_White Sox '),
 (0.0, 'Tm_Brewers '),
 (0.0, 'Tm_Astros '),
 (0.0, 'Rnd')]