In [1]:
import pandas as pd

In [2]:
file_to_load = "Resources/team_names.csv"
teams_df = pd.read_csv(file_to_load)
teams_df.head()

              Team Name abbreviation_lower abbreviation_upper
0  Arizona Diamondbacks                ari                ARI
1        Atlanta Braves                atl                ATL
2     Baltimore Orioles                bal                BAL
3        Boston Red Sox                bos                BOS
4     Chicago White Sox                cws                CWS

In [3]:
teams_df = teams_df.drop(['abbreviation_lower'], axis=1)
teams_df.rename(columns={'abbreviation_upper': 'abbreviation'})

                Team Name abbreviation
0    Arizona Diamondbacks          ARI
1          Atlanta Braves          ATL
2       Baltimore Orioles          BAL
3          Boston Red Sox          BOS
4       Chicago White Sox          CWS
5            Chicago Cubs          CHC
6        Cinncinnati Reds          CIN
7       Cleveland Indians          CLE
8        Colorado Rockies          COL
9          Detroit Tigers          DET
10         Houston Astros          HOU
11     Kansas City Royals           KC
12     Los Angeles Angels          ANA
13    Los Angeles Dodgers           LA
14          Miami Marlins          MIA
15      Milwaukee Brewers          MIL
16        Minnesota Twins          MIN
17          New York Mets          NYM
18       New York Yankees          NYY
19      Oakland Athletics          OAK
20  Philadelphia Phillies          PHI
21     Pittsburgh Pirates          PIT
22       San Diego Padres           SD
23   San Francisco Giants           SF
24       Seattle Mariners          SEA
25    St. Louis Cardinals          STL
26         Tampa Bay Rays           TB
27          Texas Rangers          TEX
28      Toronto Blue Jays          TOR
29   Washington Nationals          WAS