In [1]:
import pandas as pd
import numpy as np
import glob
import os
import re

In [3]:
file_path = 'Resources/AllFirstRoundDrafts_Clean.csv'
player_df = pd.read_csv(file_path)
player_df

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G,...,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of,Team Made Playoffs
0,2000,1,1,Marlins,Y,3000000.0,Adrian Gonzalez,1B,43.5,1929.0,...,0.843,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Eastlake HS (Chula Vista, CA)",0
1,2000,1,2,Twins,Y,2500000.0,Adam Johnson,RHP,-1.1,1.0,...,0.000,9.0,1.0,3.0,10.25,2.05,0.0,4Yr,"California State University, Fullerton (Fuller...",0
2,2000,1,3,Cubs,Y,2750000.0,Luis Montanez,SS,-1.3,129.0,...,0.586,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Coral Park HS (Miami, FL)",0
3,2000,1,4,Royals,Y,2500000.0,Mike Stodolka,LHP,0.0,0.0,...,0.000,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Centennial HS (Corona, CA)",0
4,2000,1,5,Expos,Y,2950000.0,Justin Wayne,RHP,-1.5,26.0,...,0.000,26.0,5.0,8.0,6.13,1.65,0.0,4Yr,"Stanford University (Palo Alto, CA)",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,2015,1,38,Rockies,Y,2000000.0,Tyler Nevin,3B,0.0,48.0,...,0.615,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Poway HS (Poway, CA)",0
742,2015,1,39,Cardinals,Y,1800000.0,Jake Woodford,RHP,0.2,25.0,...,0.222,49.0,5.0,4.0,4.12,1.30,0.0,HS,"H. B. Plant HS (Tampa, FL)",1
743,2015,1,40,Brewers,Y,1250000.0,Nathan Kirby,LHP,0.0,0.0,...,0.000,0.0,0.0,0.0,0.00,0.00,0.0,4Yr,"University of Virginia (Charlottesville, VA)",0
744,2015,1,41,Braves,Y,1600000.0,Austin Riley,3B,7.8,370.0,...,0.834,0.0,0.0,0.0,0.00,0.00,0.0,HS,"DeSoto Central HS (Southaven, MS)",0
745,2015,1,42,Indians,Y,2302500.0,Triston McKenzie,RHP,2.8,1.0,...,1.000,48.0,12.0,16.0,4.26,1.07,0.0,HS,"Royal Palm Beach HS (Royal Palm Beach, FL)",0

In [6]:
player_df.columns

Index(['Year', 'Rnd', 'RdPck', 'Tm', 'Signed', 'Bonus', 'Name', 'Pos', 'WAR',
       'G', 'AB', 'HR', 'BA', 'OPS', 'G.1', 'W', 'L', 'ERA', 'WHIP', 'SV',
       'Type', 'Drafted Out of', 'Team Made Playoffs'],
      dtype='object')

In [10]:
print(player_df['Pos'])

0       1B
1      RHP
2       SS
3      LHP
4      RHP
      ...
741     3B
742    RHP
743    LHP
744     3B
745    RHP
Name: Pos, Length: 746, dtype: object

In [11]:
player_df.groupby(["Pos"]).count()['Year']

Pos
1B      26
2B      17
3B      54
C       48
CF      21
LF       2
LHP    113
OF     100
RF       5
RHP    271
SS      87
lHP      2
Name: Year, dtype: int64

In [24]:
pitchers = player_df.loc[(player_df['Pos'] == 'LHP') | (player_df['Pos'] == 'RHP')]
pitchers

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G,...,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of,Team Made Playoffs
1,2000,1,2,Twins,Y,2500000.0,Adam Johnson,RHP,-1.1,1.0,...,0.000,9.0,1.0,3.0,10.25,2.05,0.0,4Yr,"California State University, Fullerton (Fuller...",0
3,2000,1,4,Royals,Y,2500000.0,Mike Stodolka,LHP,0.0,0.0,...,0.000,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Centennial HS (Corona, CA)",0
4,2000,1,5,Expos,Y,2950000.0,Justin Wayne,RHP,-1.5,26.0,...,0.000,26.0,5.0,8.0,6.13,1.65,0.0,4Yr,"Stanford University (Palo Alto, CA)",0
6,2000,1,7,Rockies,N,0.0,Matt Harrington,RHP,0.0,0.0,...,0.000,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Palmdale HS (Palmdale, CA)",0
7,2000,1,8,Tigers,Y,2150000.0,Matt Wheatland,RHP,0.0,0.0,...,0.000,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Rancho Bernardo HS (San Diego, CA)",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,2015,1,33,Royals,Y,1825200.0,Nolan Watson,RHP,0.0,0.0,...,0.000,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Lawrence North HS (Indianapolis, IN)",1
738,2015,1,35,Dodgers,N,0.0,Kyle Funkhouser,RHP,0.7,4.0,...,0.000,70.0,8.0,5.0,4.20,1.51,1.0,4Yr,"University of Louisville (Louisville, KY)",1
742,2015,1,39,Cardinals,Y,1800000.0,Jake Woodford,RHP,0.2,25.0,...,0.222,49.0,5.0,4.0,4.12,1.30,0.0,HS,"H. B. Plant HS (Tampa, FL)",1
743,2015,1,40,Brewers,Y,1250000.0,Nathan Kirby,LHP,0.0,0.0,...,0.000,0.0,0.0,0.0,0.00,0.00,0.0,4Yr,"University of Virginia (Charlottesville, VA)",0
745,2015,1,42,Indians,Y,2302500.0,Triston McKenzie,RHP,2.8,1.0,...,1.000,48.0,12.0,16.0,4.26,1.07,0.0,HS,"Royal Palm Beach HS (Royal Palm Beach, FL)",0

In [13]:
batters = player_df.loc[(player_df['Pos'] != 'LHP') & (player_df['Pos'] != 'RHP')]
batters

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G,...,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of,Team Made Playoffs
0,2000,1,1,Marlins,Y,3000000.0,Adrian Gonzalez,1B,43.5,1929.0,...,0.843,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Eastlake HS (Chula Vista, CA)",0
2,2000,1,3,Cubs,Y,2750000.0,Luis Montanez,SS,-1.3,129.0,...,0.586,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Coral Park HS (Miami, FL)",0
5,2000,1,6,Devil Rays,Y,2250000.0,Rocco Baldelli,OF,10.2,519.0,...,0.766,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Bishop Hendricken HS (Warwick, RI)",0
10,2000,1,11,Brewers,Y,1950000.0,Dave Krynzel,OF,0.2,21.0,...,0.486,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Green Valley HS (Henderson, NV)",0
11,2000,1,12,White Sox,Y,5300000.0,Joe Borchard,OF,-1.5,301.0,...,0.636,0.0,0.0,0.0,0.0,0.0,0.0,4Yr,"Stanford University (Palo Alto, CA)",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,2015,1,34,Tigers,Y,1795100.0,Christin Stewart,OF,-1.2,157.0,...,0.676,0.0,0.0,0.0,0.0,0.0,0.0,4Yr,"University of Tennessee (Knoxville, TN)",0
739,2015,1,36,Orioles,Y,1300000.0,Ryan Mountcastle,SS,3.3,248.0,...,0.812,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Paul J. Hagerty HS (Oviedo, FL)",0
740,2015,1,37,Astros,Y,4000000.0,Daz Cameron,OF,-0.4,70.0,...,0.606,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Eagle's Landing Christian Academy (McDonough, GA)",1
741,2015,1,38,Rockies,Y,2000000.0,Tyler Nevin,3B,0.0,48.0,...,0.615,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Poway HS (Poway, CA)",0
744,2015,1,41,Braves,Y,1600000.0,Austin Riley,3B,7.8,370.0,...,0.834,0.0,0.0,0.0,0.0,0.0,0.0,HS,"DeSoto Central HS (Southaven, MS)",0

In [15]:
batters = batters.drop(['G.1', 'W', 'L',
       'ERA', 'WHIP', 'SV'], 1)
batters

/var/folders/fd/dxtp3qz55fg174hn110s1j2h0000gn/T/ipykernel_64509/526730363.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  batters = batters.drop(['G.1', 'W', 'L',

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G,AB,HR,BA,OPS,Type,Drafted Out of,Team Made Playoffs
0,2000,1,1,Marlins,Y,3000000.0,Adrian Gonzalez,1B,43.5,1929.0,7139.0,317.0,0.287,0.843,HS,"Eastlake HS (Chula Vista, CA)",0
2,2000,1,3,Cubs,Y,2750000.0,Luis Montanez,SS,-1.3,129.0,305.0,5.0,0.223,0.586,HS,"Coral Park HS (Miami, FL)",0
5,2000,1,6,Devil Rays,Y,2250000.0,Rocco Baldelli,OF,10.2,519.0,1910.0,60.0,0.278,0.766,HS,"Bishop Hendricken HS (Warwick, RI)",0
10,2000,1,11,Brewers,Y,1950000.0,Dave Krynzel,OF,0.2,21.0,48.0,0.0,0.188,0.486,HS,"Green Valley HS (Henderson, NV)",0
11,2000,1,12,White Sox,Y,5300000.0,Joe Borchard,OF,-1.5,301.0,716.0,26.0,0.205,0.636,4Yr,"Stanford University (Palo Alto, CA)",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,2015,1,34,Tigers,Y,1795100.0,Christin Stewart,OF,-1.2,157.0,519.0,15.0,0.225,0.676,4Yr,"University of Tennessee (Knoxville, TN)",0
739,2015,1,36,Orioles,Y,1300000.0,Ryan Mountcastle,SS,3.3,248.0,934.0,52.0,0.272,0.812,HS,"Paul J. Hagerty HS (Oviedo, FL)",0
740,2015,1,37,Astros,Y,4000000.0,Daz Cameron,OF,-0.4,70.0,216.0,5.0,0.204,0.606,HS,"Eagle's Landing Christian Academy (McDonough, GA)",1
741,2015,1,38,Rockies,Y,2000000.0,Tyler Nevin,3B,0.0,48.0,138.0,3.0,0.196,0.615,HS,"Poway HS (Poway, CA)",0
744,2015,1,41,Braves,Y,1600000.0,Austin Riley,3B,7.8,370.0,1360.0,79.0,0.270,0.834,HS,"DeSoto Central HS (Southaven, MS)",0

In [22]:
batters.to_csv('Resources/cleanBatters.csv', index=False)

In [25]:
pitchers = pitchers.drop(['G', 'AB', 'HR', 'BA', 'OPS'], 1)
pitchers = pitchers.rename(columns = {'G.1':'G'})
pitchers

/var/folders/fd/dxtp3qz55fg174hn110s1j2h0000gn/T/ipykernel_64509/2018917847.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  pitchers = pitchers.drop(['G', 'AB', 'HR', 'BA', 'OPS'], 1)

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G,W,L,ERA,WHIP,SV,Type,Drafted Out of,Team Made Playoffs
1,2000,1,2,Twins,Y,2500000.0,Adam Johnson,RHP,-1.1,9.0,1.0,3.0,10.25,2.05,0.0,4Yr,"California State University, Fullerton (Fuller...",0
3,2000,1,4,Royals,Y,2500000.0,Mike Stodolka,LHP,0.0,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Centennial HS (Corona, CA)",0
4,2000,1,5,Expos,Y,2950000.0,Justin Wayne,RHP,-1.5,26.0,5.0,8.0,6.13,1.65,0.0,4Yr,"Stanford University (Palo Alto, CA)",0
6,2000,1,7,Rockies,N,0.0,Matt Harrington,RHP,0.0,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Palmdale HS (Palmdale, CA)",0
7,2000,1,8,Tigers,Y,2150000.0,Matt Wheatland,RHP,0.0,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Rancho Bernardo HS (San Diego, CA)",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,2015,1,33,Royals,Y,1825200.0,Nolan Watson,RHP,0.0,0.0,0.0,0.0,0.00,0.00,0.0,HS,"Lawrence North HS (Indianapolis, IN)",1
738,2015,1,35,Dodgers,N,0.0,Kyle Funkhouser,RHP,0.7,70.0,8.0,5.0,4.20,1.51,1.0,4Yr,"University of Louisville (Louisville, KY)",1
742,2015,1,39,Cardinals,Y,1800000.0,Jake Woodford,RHP,0.2,49.0,5.0,4.0,4.12,1.30,0.0,HS,"H. B. Plant HS (Tampa, FL)",1
743,2015,1,40,Brewers,Y,1250000.0,Nathan Kirby,LHP,0.0,0.0,0.0,0.0,0.00,0.00,0.0,4Yr,"University of Virginia (Charlottesville, VA)",0
745,2015,1,42,Indians,Y,2302500.0,Triston McKenzie,RHP,2.8,48.0,12.0,16.0,4.26,1.07,0.0,HS,"Royal Palm Beach HS (Royal Palm Beach, FL)",0

In [26]:
pitchers.to_csv('Resources/cleanPitchers.csv', index=False)

In [20]:
no_mlb_pitchers = pitchers.loc[(pitchers['WAR'] == 0) & (pitchers['G.1'] == 0) & (pitchers['W'] == 0) &(pitchers['L'] == 0)
                     & (pitchers['ERA'] == 0) & (pitchers['WHIP'] == 0) & (pitchers['SV'] == 0)]
no_mlb_pitchers

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of,Team Made Playoffs
3,2000,1,4,Royals,Y,2500000.0,Mike Stodolka,LHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Centennial HS (Corona, CA)",0
6,2000,1,7,Rockies,N,0.0,Matt Harrington,RHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Palmdale HS (Palmdale, CA)",0
7,2000,1,8,Tigers,Y,2150000.0,Matt Wheatland,RHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Rancho Bernardo HS (San Diego, CA)",0
8,2000,1,9,Padres,Y,2200000.0,Mark Phillips,LHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Hanover HS (Hanover, PA)",0
9,2000,1,10,Angels,Y,2080000.0,Joe Torres,LHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Gateway HS (Kissimmee, FL)",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,2015,1,21,Royals,Y,2190200.0,Ashe Russell,RHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Cathedral HS (Indianapolis, IN)",1
730,2015,1,27,Rockies,Y,2300000.0,Mike Nikorak,RHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Stroudsburg HS (Stroudsburg, PA)",0
732,2015,1,29,Blue Jays,Y,1944800.0,Jon Harris,RHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4Yr,"Missouri State University (Springfield, MO)",1
736,2015,1,33,Royals,Y,1825200.0,Nolan Watson,RHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Lawrence North HS (Indianapolis, IN)",1
743,2015,1,40,Brewers,Y,1250000.0,Nathan Kirby,LHP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4Yr,"University of Virginia (Charlottesville, VA)",0

In [21]:
no_mlb_batters = batters.loc[(batters['WAR'] == 0) & (batters['G'] == 0) & (batters['AB'] == 0) &(batters['HR'] == 0)
                     & (batters['BA'] == 0) & (batters['OPS'] == 0)]
no_mlb_batters

,Year,Rnd,RdPck,Tm,Signed,Bonus,Name,Pos,WAR,G,AB,HR,BA,OPS,Type,Drafted Out of,Team Made Playoffs
12,2000,1,13,Cardinals,Y,1750000.0,Shaun Boyd,OF,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Vista HS (Vista, CA)",1
17,2000,1,18,Blue Jays,Y,950000.0,Miguel Negron,OF,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Manuela Toro HS (Caguas, Puerto Rico)",0
22,2000,1,23,Reds,Y,0.0,David Espinosa,SS,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Gulliver Prep HS (Coral Gables, FL)",0
24,2000,1,25,Rangers,Y,1475000.0,Scott Heard,C,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Rancho Bernardo HS (San Diego, CA)",0
25,2000,1,26,Indians,Y,1375000.0,Corey Smith,SS,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Piscataway HS (Piscataway, NJ)",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,2014,1,40,Royals,Y,1350000.0,Chase Vallot,C,0.0,0.0,0.0,0.0,0.0,0.0,HS,"St. Thomas More HS (Lafayette, LA)",1
703,2014,1,41,Brewers,Y,1830000.0,Jake Gatewood,SS,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Clovis HS (Clovis, CA)",0
713,2015,1,10,Phillies,Y,3231300.0,Cornelius Randolph,SS,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Griffin HS (Griffin, GA)",0
716,2015,1,13,Rays,Y,2959600.0,Garrett Whitley,OF,0.0,0.0,0.0,0.0,0.0,0.0,HS,"Niskayuna HS (Niskayuna, NY)",0
733,2015,1,30,Yankees,Y,1800000.0,Kyle Holder,SS,0.0,0.0,0.0,0.0,0.0,0.0,4Yr,"University of San Diego (San Diego, CA)",1