In [1]:
import pandas as pd
import glob
import os
from pathlib import Path

In [2]:
path = 'Resources/first_round_csvs'
all_files = glob.glob(os.path.join(path + "/*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename,encoding_errors='ignore', index_col=None, header=0)
    li.append(df)

first_round_df = pd.concat(li, axis=0, ignore_index=True)

In [3]:
first_round_df.sort_values(by=['Year'])

,Year,Rnd,DT,OvPck,FrRnd,RdPck,Tm,Signed,Bonus,Name,...,BA,OPS,G.1,W,L,ERA,WHIP,SV,Type,Drafted Out of
446,2000,1,NaN,16,FrRnd,16,Mets via Mariners,Y,"$400,000",*Billy Traber(minors),...,0.048,0.139,96.0,12.0,14.0,5.65,1.59,0.0,4Yr,"Loyola Marymount University (Los Angeles, CA)"
438,2000,1,NaN,8,FrRnd,8,Tigers,Y,"$2,150,000",Matt Wheatland(minors),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Rancho Bernardo HS (San Diego, CA)"
437,2000,1,NaN,7,FrRnd,7,Rockies,N,NaN,Matt Harrington(minors),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Palmdale HS (Palmdale, CA)"
436,2000,1,NaN,6,FrRnd,6,Devil Rays,Y,"$2,250,000",Rocco Baldelli(minors),...,0.278,0.766,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Bishop Hendricken HS (Warwick, RI)"
435,2000,1,NaN,5,FrRnd,5,Expos,Y,"$2,950,000",Justin Wayne(minors),...,0.000,0.000,26.0,5.0,8.0,6.13,1.65,0.0,4Yr,"Stanford University (Palo Alto, CA)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,2015,1,NaN,17,FrRnd,17,Indians,Y,"$2,513,280",Brady Aiken(minors),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"IMG Academy (Bradenton, FL)"
268,2015,1,NaN,19,FrRnd,19,Pirates,Y,"$2,175,000",Kevin Newman(minors),...,0.257,0.655,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"University of Arizona (Tucson, AZ)"
269,2015,1,NaN,20,FrRnd,20,Athletics,Y,"$1,950,000",Richie Martin(minors),...,0.212,0.572,NaN,NaN,NaN,NaN,NaN,NaN,4Yr,"University of Florida (Gainesville, FL)"
259,2015,1,NaN,10,FrRnd,10,Phillies,Y,"$3,231,300",Cornelius Randolph(minors),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HS,"Griffin HS (Griffin, GA)"
261,2015,1,NaN,12,FrRnd,12,Marlins,Y,"$2,200,000",Josh Naylor(minors),...,0.257,0.732,NaN,NaN,NaN,NaN,NaN,NaN,HS,"St. Joan of Arc Catholic SS (Mississauga, ON)"

In [4]:
first_round_df.to_csv('Resources/first_round_csvs/AllFirstRoundDrafts.csv', index=False)